#python => 3.12.7
https://github.com/abetlen/llama-cpp-python/releases/download/v0.3.4-cu124/llama_cpp_python-0.3.4-cp312-cp312-win_amd64.whl #library llama-cpp for windows and cuda
pygame
huggingface-hub